<config>
    <extName>Mailform
    </extName>
    <author>Gregor Schmidt
    </author>
    <mail>m2@schmidtwisser.de
    </mail>
    <version>0.5
    </version>
    <dependsOn>
    </dependsOn>
    <params>
        <subject>Serviceanfrage über Website</subject>
        <from>Website@grundprinzip.de</from>
        <to>Service@grundprinzip.de</to>
    </params>
</config>
