<config>
    <extName>Mailform</extName>
    <author>Martin Grund</author>
    <mail>grundprinzip@gmail.com</mail>
    <version>0.9.1</version>
    <dependsOn>
    </dependsOn>
    <params>
        <to>Service@wbg-dahmeland.de</to>
        <subject>Serviceanfrage über Website</subject>
        <from>Website@wbg-dahmeland.de</from>
    </params>
</config>
