body{
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

img{
    border: none;
}

fieldset{
    padding-left: 8px;
    border: 1px solid lightgray;
    -moz-border-radius: 5px;
}

legend{
    color: brown;
    background: white;
}


#all{
       background: #006699;
       overflow: hidden;
}

h1{
    background: url('taube.png') no-repeat #006699;
    color: white;
    padding-left: 80px;
    padding-top: 20px;
    height: 50px;
    vertical-align: bottom;
    margin: 0px;
}

#menu{
    width: 100%;
    height: 32px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 0.8em;
    background: #006699;
    border-bottom: 2px solid white;
}

#menu li{
    margin: 0px;
    padding: 0px 2px;
    float: left;
    background: #006699;
}

#menu li.right{
    float: right;
}

#menu li a{
    width: 120px;
    height: 20px;
    display: block;
    text-align: center;
    background: url('tab.gif') #006699;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-top: 12px;
}

#menu li a:hover{
    background-position: 0px 32px;
}


#menu li a.active{
    background-position: 0px 32px;
}

#menu li .red{
    background: url('tab_red.gif');
}

#menu li .green{
    background: url('tab_green.gif');
}

.clearer{
    clear: both;
}

#allcontent{
    border: 5px solid #006699;
    padding: 5px;
    background: white;
    overflow: hidden;
}

#allcontent h2{
    margin: 0px;
    font-size: 1.2em;
    color: #006699;
    border-bottom: 1px dotted #006699;
}

#pagelist, #extension, #settings{
    overflow: hidden;
    width: 15%;
    float: left;
    font-size: 0.9em;
    padding: 5px 0px 5px 25px;
    margin: 0px;
    color: #006699;
    border: 1px dotted #006699;
}

#pagelist ul, #extension ul, #settings ul{
    padding: 0px;
    margin: 0px;
}

#pagelist ul li{
    margin-left: 1.2em;
}

#extension li{
    list-style-image: url('grafiken/erweiterung.gif');
}

#settings li{
    list-style-image: url('grafiken/settings.gif');
}


#pagelist .type0{
    list-style-image: url('grafiken/pagelist0.gif');
}
#pagelist .type1{
    list-style-image: url('grafiken/pagelist1.gif');
}
#pagelist .type2{
    list-style-image: url('grafiken/pagelist2.gif');
}
#pagelist .type3{
    list-style-image: url('grafiken/pagelist3.gif');
}
#pagelist .type4{
    list-style-image: url('grafiken/pagelist4.gif');
}
#pagelist .type5{
    list-style-image: url('grafiken/pagelist5.gif');
}
#pagelist .type6{
    list-style-image: url('grafiken/pagelist6.gif');
}
#pagelist .type7{
    list-style-image: url('grafiken/pagelist7.gif');
}

#pagelist a, #extension a, #settings a{
    color: #006699;
    text-decoration: none;
}

#pagelist a:hover, #extension a:hover, #settings a:hover{
    color: black;
    text-decoration: underline;
}

#content{
    overflow: hidden;
    width: 81%;
    float: right;
}

#content fieldset{
    font-size: 0.8em;
}

#sectionTop ul, #ceTop ul, .ceSingleTop ul{
    list-style: none;
    float: right;
    margin: 0px;
    padding: 0px;
}

#sectionTop h2, #ceTop h3, .ceSingleTop h4{
    float: left;
    padding: 0px;
    margin: 0px;
}

#ceTop{
    border-top: 1px dotted #006699;
    padding-top: 10px;
}

.ceSingleTop{
    border-top: 1px dotted #006699;
    padding-top: 10px;
}

.ceSingleTop, .ceSingleAttr{
    margin-left: 20px;
    margin-right: 10px;
    padding-right: 10px;
}

.ceSingleAttr{
    border-right: 1px dotted #006699;
}

#ceTop form{
    float:right;
    padding: 0px;
    margin: 0px;
    margin-right: 20px;
}
#ceTop form p{
    display: inline;
}

#sectionTop ul li, #ceTop ul li, .ceSingleTop li{
    display: inline;
}

#sectionTop img, #ceTop img, .ceSingleTop img{
    background-position: 0px 0px;
    width: 30px;
    height: 30px;
}

#sectionTop img:hover, #ceTop img:hover, .ceSingleTop img:hover{
    background-position: 0px 30px;
}

#sectionTop .edit{
    background: url('grafiken/edit.png');
}

#sectionTop .del{
    background: url('grafiken/del.png');
}

#sectionTop .up{
    background: url('grafiken/up.png');
}

#sectionTop .down{
    background: url('grafiken/down.png');
}

#sectionTop .inner{
    background: url('grafiken/inner.png');
}

#sectionTop .after{
    background: url('grafiken/after.png');
}

#ceTop .new{
    background: url('grafiken/newce.gif');
}

.ceSingleTop .edit{
    background: url('grafiken/editce.gif');
}

.ceSingleTop .del{
    background: url('grafiken/delce.gif');
}

.ceSingleTop .down{
    background: url('grafiken/downce.gif');
}

.ceSingleTop .up{
    background: url('grafiken/upce.gif');
}

#sectionAttr{
    overflow: hidden;
}


#sectionAttr .middle{
    width: 31.5%;
    float: left;
    margin: 0 1%;
}

#sectionAttr .left, #sectionAttr .right{
    width: 33%;
    float: left;
}

#sectionAttr .unsichtbar legend, .ceSingleAttr .unsichtbar legend{
    background: #CC0000;
    color: white;
    padding: 0px 2px;
}

.ceSingleAttr .content_unsichtbar{
    color: gray;
}

.ceSingleAttr .left strong, .ceSingleAttr .left label{
    display: block;
    float: left;
    width: 10em;
}

.ceSingleAttr .exception label{
    width: 5em;
}

.ceSingleAttr .right strong, .ceSingleAttr .right label{
    display: block;
    float: left;
    width: 5em;
}

#sectionAttr .checkbox, .ceSingleAttr .checkbox{
    width: 13px;
    height: 13px;
    background: url('grafiken/checkbox.gif');
}

#sectionAttr .on, .ceSingleAttr .on{
    background: url('grafiken/checkboxon.gif');
}

#sectionAttr .checkbox:hover, .ceSingleAttr .checkbox:hover{
    background-position: 0px 13px;
}

.ceSingleAttr div{
    width: 49%;
}

.ceSingleAttr .left{
    float: left;
}

.ceSingleAttr .right{
    float: right;
}

#content h3, #content h4{
    color: #006699;
}

#sectionAttr strong, #sectionAttr label, .general label{
    display: block;
    float: left
}

.general label{
    width: 7em;
}

input.text{
    border: none;
    border-bottom: 1px dotted #006699;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

textarea{
    border: 1px dotted #006699;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 2px;
    padding-bottom: 2px;    
}

#sectionAttr .right strong, #sectionAttr .right label{
    width: 12em;
}
#sectionAttr .middle strong, #sectionAttr .middle label{
    width: 6em;
}
#sectionAttr .left strong, #sectionAttr .left label{
    width: 6em;
}

#sectionAttr br{
    clear: both;
}

.hinweis{
    color: gray;
    font-size: 0.9em;
}

#content h4{
    border-bottom: 1px dotted #006699;
}

p#ok, p#cancel{
    width: 49%;
    float: right;
    padding-top: 20px;
    text-align: left;
}

p#ok{
    clear: both;
    float: left;
    text-align: right;
}

#ok input, #cancel input{
    width: 120px;
    height: 30px;
    border: none;
    padding-bottom: 3px;
    font-weight: bold;
}

#ok input:hover, #cancel input:hover{
    background-position: 0px 30px;
    padding-bottom: 0px;
}

#ok .ok{
    background: url("grafiken/submit120.gif") green;
    color: white;
}

#cancel .cancel{
    background: url("grafiken/abort120.gif") red;
    color: white;
}

label.required{
    font-weight: bold;
}

#settingsForm div{
    width: 49%;
}

#settingsForm label{
    display: block;
    float: left;
    width: 9.5em;
}

#settingsForm .left{
    float: left;
}

#settingsForm .right{
    float: right;
}
