<config>
    <extName>Aktuelle Angebote</extName>
    <author>Gregor Schmidt</author>
    <mail>Schmidtwisser@GMail.com</mail>
    <version>0.1</version>
    <dependsOn>
    </dependsOn>
    <params>
        <path>aktangebote</path>
        <subject>Anzeige</subject>
        <author>WBG \"Unteres Dahmeland\" mbH</author>
    </params>
</config>
