<config>
    <extName>Blog</extName>
    <author>Martin Grund</author>
    <mail>grund@grundprinzip.de</mail>
    <version>0.5</version>
    <dependsOn>
    </dependsOn>
    <params>
        <author>Martin</author>
        <notifyMail>blog@grundprinzip.de</notifyMail>
        <blogTitle>!golbeW</blogTitle>
        <description>Ein Blog für alle Fälle. Neuigkeiten, Skuriles und Informatives aus dem täglichen Geschehen </description>
        <generator>Miplex2</generator>
        <managingEditor>blog@grundprinzip.de</managingEditor>
        <categories>TagesZeitung, Skills, Abseits, Hell's Kittchen</categories>
        <countDisplay>10</countDisplay>
        <countSticky>3</countSticky>
        <durationSticky>10</durationSticky>
        <entryTpl>entry.tpl</entryTpl>
        <commentTpl>comment.tpl</commentTpl>
        <mainTpl>main.tpl</mainTpl>
    </params>
</config>
